/* Google Fonts import'u */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/* Tailwind CSS direktifleri */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kök CSS değişkenleri (dark mode desteği ile) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Genel body stilleri */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Source Sans Pro', sans-serif; /* Fontunuzu güncelledik */
}

/* Scrollbar stilleri */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb{
  border-radius: 30px;
  background: rgb(219,219,219);
}
